<html>
<body>
<div>Список</div>
{{#order}}
    <div>
        <b>{{id}}</b>
        <b>{{nameDevice}}</b>
        <b>{{typeDevice}}</b>
        <b>{{date}}</b>
        <b>{{status}}</b>
        <b>{{comment}}</b>
        <b>{{price}}</b>
    </div>
{{/order}}
</body>
</html>